<!-- bootstrap scripts cdn are here.... -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark text-white align-middle py-1.5" style="opacity: 0.8;">
        <span class="mx-auto">Blogs Website <b>copyright</b>&copy; </span> 
    </nav>
</body>

</html>